<head>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ pagetitle }}</title>
</head>