<!doctype html>
<html>
  {% include 'includes/head.twig' %}
  <body>
    
    {% include 'includes/navigation.twig' %}
    
    <div class="container">
      <div class="row">
        {% for product in products %}
          <div class="col-md-3">
              <h3>{{ product.name }}</h3>
              <img class="img-fluid" src="images/products/products/{{product.image_file_name}}">
              <h5>{{ product.price }}</h5>
              
              <a href="detail.php?id={{product.product_id}}">
                Detail
              </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>

