<!doctype html>
<html>
    {% include 'includes/head.twig' %}
    <body>
        {% include 'includes/navigation.twig' %}
        
        <div class="container-fluid">
            <div class="row">
                <form method="post" action="signup.php" class="col-md-4 offset-md-4">
                    <h3>Sign up for an account</h3>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="minimum 6 characters">
                        
                    </div>
                    
                </form>
                
            </div>
            
        </div>
        
        
    </body>
    
</html>